@model IEnumerable<DotNetGrillWebUI.Models.Product>

@{
    ViewData["Title"] = ViewBag.CategoryName;
}

<h1>@ViewBag.CategoryName</h1>

<section class="row card-group">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 mb-3">
            <div class="card mb-4">
                <div class="card-body text-center h-100">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                        @item.Name
                    </a>
                    <h4>@item.Price.ToString("C")</h4>
                    @if (String.IsNullOrEmpty(item.Photo))
                    {
                        <img src="/images/products/no-image.png"
                             class="img-thumbnail" 
                             style="max-width:250px"
                             alt="No Image Available" />
                    }
                    else
                    {
                        <img src="/images/products/@item.Photo"
                             class="img-thumbnail"
                             style="max-width:250px"
                             alt="Photo of @item.Name" />
                    }
                </div>
            </div>
        </div>
    }
</section>